<% if @errors %>
<div class="alert alert-warning">
  <p>Ошибка!</p>
  <% @errors.each do |error| %>
    <p><%= error %></p>
  <% end %>
</div>
<% end %>

<h3>Начисление процентов по всем счетам</h3>
<form method='post'>
    <div class="form-group">
        <label for="name">Введите дату начисления (не может быть позднее текущей)</label>
        <br>
        <input type="date"  name = 'accrual_date'> 
    </div>
    <button type="submit" class="btn btn-primary">Подтвердить</button>
</form>