<% if @errors %>
<div class="alert alert-warning">
  <p>Ошибка!</p>
  <% @errors.each do |error| %>
    <p><%= error %></p>
  <% end %>
</div>
<% end %>

<h2>Закрытие вклада</h2>
<form  method = 'post'>
    <div class="form-group">
        <label for="name">Введите дату закрытия счета <%= @temp %></label>
        <br>
        <input type="date"  name = 'closed_date'> 
    </div>
    <button type="submit" class="btn btn-primary">Подтвердить</button>
</form>  