<h1>Добро пожаловать в симулятор банка!</h1>
<h2>Функционал данного симулятора:</h2>
<ul>
    <li>Добавление вкладчиков и вкладов</li>
    <li>Удаление вкладов</li>
    <li>Закрытие счетов</li>
    <li>Пополнение счетов</li>
    <li>Начисление процентов</li>
</ul> 
