<h3>Самый популярный вклад в банке</h3>
<table class="table table-striped table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Название</th>
      <th scope="col">Средняя сумма</th>
      <th scope="col">Последняя дата открытия</th>
    </tr>
  </thead>
  
  <tbody>
   <tr>
      <td><%= @suitable[0] %></td>
      <td><%= @suitable[1] %></td>
      <td><%= @suitable[2] %></td>
   </tr>
  </tbody>
</table>